---
layout: nav
title: "Interrogations"
description: ""
name: interrogations
poster: "05-background-interrogations.jpg"
color: orange
items:
  sexualité:
    angle-triangle: 150
    angle-item: 140
  vieillesse:
    angle-triangle: 30
    angle-item: 40
  metastase:
    angle-triangle: 330
    angle-item: 330
  service-santé:
    angle-triangle: 200
    angle-item: 200
    sub_items:
      - livre-peu-conventionnel
      - garance
---

= partial 'layouts/navigation/branch'
= partial 'layouts/modals/intro'

- content_for :javascripts do
  :coffeescript
    $.BV.init()
    initVideoImageLoader($.BV.getPlayer())
    $(document).ready ->
      if document.referrer.match("\/intro(\/)*$")
        $("#modal-intro").modal "show"
      $.BV.show [{ type: "video/mp4", src: "http://player.vimeo.com/external/110645678.hd.mp4?s=a8f5c73a6c26501a00a6980fbecc909e" }], ambient: true
