---
layout: nav
background: "05-videobackground-interrogations.jpg"
videos:
  cécile-reconstruction-métastatique:
    src: "http://player.vimeo.com/external/109839119.hd.mp4?s=bf164b23ab1804995f6f176623083657"
    thumbnail: "05-04-videoseule-metastases.jpg"
    poster: "05-04-videoseule-metastases.jpg"
---

= partial "layouts/video/playlist"
