---
layout: nav
title: "Interrogations - Et la sexualité ?"
description: ""
src: "http://player.vimeo.com/external/109839117.hd.mp4?s=8ea25dcb4c20e4dcfeb36edfd6faa406"
background: "05-background-interrogations.jpg"
poster: "05-02-videochapitree-sexualite.jpg"
chapters:
  femmes-célibataires:
    offset: 0
    thumbnail: "05-02-videochapitree-sexualite.jpg"
  les-couples:
    offset: 122
    thumbnail: "05-02-videochapitree-sexualite.jpg"
---

= partial "layouts/video/chapters"
