---
layout: nav
background: "05-background-interrogations.jpg"
poster: "05-03-videoseule-vieillesse.jpg"
videos:
  ana-maria-reconstruction:
    src: "http://player.vimeo.com/external/109839120.hd.mp4?s=ae82664a979a14997b6d2010db31d29e"
    thumbnail: "05-03-videoseule-vieillesse.jpg"
    poster: "05-03-videoseule-vieillesse.jpg"
---

= partial "layouts/video/playlist"
