---
title: "La reconstruction, étapes de finition - Christine, consultation avant étapes de finition"
description: ""
layout: nav
name: intro-finitions
color: pink
picto: surgical
background: "03-03-background-reconstruction-sec.jpg"
poster: "03-04-01-videoseule-consultfinitions.jpg"
videos:
  christine-consultation-finition:
    src: "http://player.vimeo.com/external/109838364.hd.mp4?s=612e93e0ca59d2b4fe05d6bfcc2b91bd"
    thumbnail: "03-04-01-videoseule-consultfinitions.jpg"
    poster: "03-04-01-videoseule-consultfinitions.jpg"
---

= partial "layouts/video/playlist"
= partial 'layouts/modals/intro'

- content_for :javascripts do
  :coffeescript
    $(document).ready ->
      $("#modal-intro").modal "show"
