#tutorial
  position: fixed
  width: 100%
  bottom: 6em
  pointer: pointer

#tutorial-circle.tutorial-mask
  height: 100px
  width: 100px
  top: -36px
  left: -36px
  position: absolute
  border-radius: 50%
  box-shadow: 0 0 0 9999px rgba(0,0,0, 0.5)
  span
    color: white
    position: fixed
    margin-left: 7em
    text-transform: uppercase