#sylvie
  background-repeat: no-repeat
  width: 100%
  max-width: 100em
  height: 50em
  background-position: center 0
  display: block
  text-align: center
  
  #introduced-by
    margin-top: 60px

  .circle-container
    top: 45%
    .compass-title
      #enter
        button
          text-transform: uppercase
          background-color: $curie-orange
          border-color: $curie-orange
          font-weight: bold

  #introduced-by, #productor
    @include font-curie-landing-sub
    color: white

#partners
  width: 100%
  max-width: 72em
  color: $curie-gray
  margin: 0 auto
  background-position: center 0
  text-align: center
  @include font-curie-landing-sub
  p
    margin: 0
  li
    display: inline
    list-style-type: none
    img
      max-width: 100px
      max-height: 100px

#modal-intro
  #disclaimer-modal-footer
    text-align: center
    border: none
    .divider
      border-top: solid 1px $curie-orange
      width: 15%
      margin: auto