#landing
  padding-bottom: 115px
  text-align: center
  min-height: 44em
  +compass-style
  #introduced-by, #productor
    +font-curie-landing-sub
    color: white

  #introduced-by
    margin-top: 25px

  #productor
    margin-bottom: 30px
    img
      margin-left: 3px

  #compass-container.fixed
    .viewport
      #enter
        margin-top: 2em
        .btn, .btn:hover, .btn:active, .btn:visited, .btn:focus
          text-transform: uppercase
          background-color: $curie-orange
          border-color: $curie-orange
          font-weight: bold
          width: 50%
          color: white
    .landing-deg-triangle
      transform: translate(-50%,-50%) rotate(320deg) translate(20em) rotate(90deg)
      border: none


#partners
  position: absolute
  margin-top: -115px
  bottom: 0
  width: 100%
  color: $curie-gray
  margin: 0 auto
  background-position: center 0
  background-color: white
  text-align: center
  +font-curie-landing-sub
  p
    margin: 0
    position: relative
    top: 10px
  li
    display: inline
    list-style-type: none
    img
      width: auto
      max-height: 80px

#modal-intro
  .modal-header
    .close
      font-family: Arial
    h2
      .big
        color: $curie-orange
        font-size: 1.5em
  .modal-body
    font-size: 0.7em
    p:first-line
      color: $curie-orange
  .modal-footer
    text-align: center
    border: none
    a
      +font-curie-nav
      color: $curie-orange
      text-transform: none
      &::before
        content: ''
        width: 0
        height: 0
        position: relative
        left: -15px
        display: inline-block
        border-top: solid 6px transparent
        border-bottom: solid 6px transparent
        border-left: solid 10px $curie-gray
    .divider
      border-top: solid 1px $curie-orange
      width: 15%
      margin: 20px auto 10px
