#navigation
  +compass-style
  h1.color-blue
    color: $curie-blue

  .triangle
    @include triangle-position(135deg,5%)

  .menu-item
    text-align: left
    @include menu-position(45deg,10%)
    width: 50%
    h2
      margin: 0

  ul
    opacity: 0
