#navigation
  text-align: center
  min-height: 42em
  +compass-style
  h1.color-blue
    color: $curie-blue

  @for $i from 0 through 72
    .triangle-angle-#{$i*5}
      @include triangle-position($i*5*1deg,100%)

    .menu-angle-#{$i*5}
      @include menu-position($i*5*1deg, 5% , 20%)

  .menu-item
    text-align: center
    width: 50%

    ul
      text-align: left
      opacity: 0
      list-style-type: none
      li::before
        content: ''
        width: 0
        height: 0
        position: relative
        left: -15px
        display: inline-block
        border-top: solid 6px transparent
        border-bottom: solid 6px transparent
      &.color-blue li::before
        border-left: solid 10px $curie-blue
      &.color-pink li::before
        border-left: solid 10px $curie-pink
      &.color-orange li::before
        border-left: solid 10px $curie-orange

    .menu-item-title, ul
      margin: 0
      a, a:hover, a:visited, a:active, a:link
        text-transform: uppercase
        text-decoration: none
        +font-curie-text
        color: white
      a:hover, a:active
        padding-bottom: 1px
        border-bottom: 2px solid white
