#navigation
  padding-bottom: 115px
  text-align: center
  min-height: 44em
  padding-top: 0px
  +compass-style
  h1.color-blue
    color: $curie-blue

  @for $i from 0 through 72
    .triangle-angle-#{$i*5}
      @include triangle-position($i*5*1deg,100%)

    .menu-angle-#{$i*5}
      @include menu-position($i*5*1deg, 5% , 20%)

  .menu-item
    text-align: left
    width: 50%
    h2, ul
      margin: 0
      a, a:hover, a:visited, a:active, a:link
        text-transform: uppercase
        text-decoration: none
        +font-curie-text
        color: white
      a:hover, a:active
        padding-bottom: 1px
        border-bottom: 2px solid white
      

    ul
      opacity: 0
