.misc-title, .misc-text
  text-transform: uppercase
  @include font-curie-text
  color: white
  h2
    font-size: 18px

.misc-text
  padding-top: 20px
  font-size: 14px

.misc-wrapper
  margin-top: 8%

#carousel-wraper
  max-width: 500px
  margin: auto