.modal
  .modal-header, .modal-body, .modal-footer
    text-align: center
    border: none
  button.close
    color: $curie-orange
    opacity: 0.7
    &:hover
      opacity: 1
  .modal-title
    padding-top: 1.4em
    +font-curie-popover-title
    color: $curie-gray
    text-transform: uppercase
  .modal-body
    overflow-x: hidden
    padding: 0
    line-height: 2em
    text-transform: uppercase
    position: relative
    .part-one
      color: $curie-orange
    .part-two
      color: $curie-gray
  .modal-footer .divider
    border-top: solid 1px $curie-orange
    width: 15%
    margin: 2em auto

#modal-intro
  text-transform: uppercase
  text-align: center
  color: $curie-gray
  +font-curie-text

  .modal-content
    .colored
      font-size: 1.5em
    &.color-blue
      .colored, button.close, p:first-line
        color: $curie-blue
    &.color-orange
      .colored, button.close, p:first-line
        color: $curie-orange
    &.color-pink
      .colored, button.close, p:first-line
        color: $curie-pink

    .modal-header
      border: none
      h2
        +font-curie-popover-title
    .modal-body
      font-size: 0.9em
      padding: 2em 4em
      line-height: 2em
