.modal
  .modal-header, .modal-body, .modal-footer
    text-align: center
    border: none
  .modal-header
    padding-top: 3em
  button.close
    color: $curie-orange
  .modal-title
    +font-curie-popover-title
    color: $curie-gray
    text-transform: uppercase
  .modal-body
    overflow-x: hidden
    padding: 0
    line-height: 2em
    text-transform: uppercase
    position: relative
    .part-one
      color: $curie-orange
    .part-two
      color: $curie-gray
  .modal-footer .divider
    border-top: solid 1px $curie-orange
    width: 15%
    margin: 2em auto

#modal-intro
  text-transform: uppercase
  text-align: center
  color: $curie-gray
  +font-curie-text
  .modal-header
    border: none
    h2
      +font-curie-popover-title
  .modal-body
    padding: 2em 4em
    line-height: 2em
