$thumb-arrow-size: 32px
$tutorial-circle-radius: 50px

$compass-outer-size: 464px
$compass-inner-size: 380px

#rotatescroll
  position: relative
  top: 50px
  width: $compass-outer-size
  height: $compass-outer-size
  display: block
  margin: 0 auto
  .viewport
    position: absolute
    top: ($compass-outer-size - $compass-inner-size)/2
    left: ($compass-outer-size - $compass-inner-size)/2
    width: $compass-inner-size
    height: $compass-inner-size
    border-radius: 50%
    overflow: hidden
  ul.compass-inner
    list-style: none
    margin: 0
    padding: 0
    position: relative
    li
      height: $compass-inner-size
      width: $compass-inner-size
      float: left
      position: relative
      text-align: center
      line-height: $compass-inner-size
      .slide-container
        display: inline-block
        vertical-align: middle
        line-height: normal
        +font-curie-text
        text-transform: uppercase
        padding-top: 1em
        .pretitle
          font-size: 1.8em
          color: white
        .title
          font-size: 2.4em
        img
          display: block
          margin: 0.5em auto 1.5em
        a
          pointer-events: auto
          color: white
      &.infosein
        .title
          color: $curie-orange
        a
          background: $curie-orange
      &.mastectomy
        .title
          color: $curie-blue
        a
          background: $curie-blue
      &.surgical
        .title
          color: $curie-pink
        a
          background: $curie-pink
      &.nonsurgical
        .title
          color: $curie-orange
        a
          background: $curie-orange

  .thumb
    position: absolute
    cursor: pointer
    z-index: 200
    .arrow
      content: ''
      width: 0
      height: 0
      border-top: 0
      border-left: solid ($thumb-arrow-size/2) transparent
      border-right: solid ($thumb-arrow-size/2) transparent
      border-bottom: solid ($thumb-arrow-size)
      border-bottom-color: $curie-orange
    &[data-closest-slide=infosein]
      .arrow
        border-bottom-color: $curie-orange
    &[data-closest-slide=mastectomy]
      .arrow
        border-bottom-color: $curie-blue
    &[data-closest-slide=surgical]
      .arrow
        border-bottom-color: $curie-pink
    &[data-closest-slide=nonsurgical]
      .arrow
        border-bottom-color: $curie-orange
  .dot
    display: none

#compass
  position: absolute
  top: 0
  left: 0

#tutorial-circle.tutorial-mask
  height: $tutorial-circle-radius * 2
  width: $tutorial-circle-radius * 2
  top: - $tutorial-circle-radius + ($thumb-arrow-size/2)
  left: - $tutorial-circle-radius + ($thumb-arrow-size/2)
  position: absolute
  border-radius: 50%
  box-shadow: 0 0 0 9999px rgba(0,0,0, 0.5)
  span
    +font-curie-tutorial
    color: white
    position: fixed
    margin-left: 2 * $tutorial-circle-radius
    text-transform: uppercase
