#video-wrapper
  #control-wrapper
    position: relative

  .control
    position: absolute
    content: " "
    width: 35px
    height: 35px
    background-repeat: no-repeat
    z-index: 100
    bottom: 10%
    transform: translate(-50%)

  #next
    background-image: image-url("controlVideo/next.png")
    left: 70%

  #prev
    background-image: image-url("controlVideo/prev.png")
    left: 30%

  #pause
    background-image: image-url("controlVideo/pause.png")
    left: 50%

  #play
    background-image: image-url("controlVideo/play.png")
    left: 50%

.vjs-curie-skin
  .vjs-control-text
    display: none !important
  .vjs-progress-control
    border-radius: 50px
    position: absolute
    left: 10%
    right: 0
    width: 80%
    font-size: 0.9em
    height: 8px
    /* Set above the rest of the controls.
    bottom: 35%
    /* Shrink the bar slower than it grows.
    /* transition
    -webkit-transition: all 0.4s
    -moz-transition: all 0.4s
    -o-transition: all 0.4s
    transition: all 0.4s

  .vjs-progress-holder
    height: 100%
    border-radius: 50px
    background: $curie-gray
    .vjs-play-progress
      border-radius: 50px
      position: absolute
      display: block
      height: 100%
      margin: 0
      padding: 0
      /* updated by javascript during playback
      width: 0
      /* Needed for IE6
      left: 0
      top: 0
    .vjs-slider-handle
      position: absolute
      /* Needed for IE6
      left: 0
      top: 0
      &:before
        border-radius: 20px
        content: " "
        text-align: center
        position: absolute
        top: 0
        left: -4px
        width: 8px
        height: 8px
        background: $curie-orange




