#video-wrapper
  position: absolute
  left: 50%
  margin-top: 7%
  transform: translate(-50%)
  padding-right: 100px
  padding-left: 100px
  width: 100%

  #video-player
    max-height: 40em
    max-width: 71.08em
    left: 50%
    transform: translate(-50%)

.video-description
  text-align: center
  margin-top: 3%
  color: white
  @include font-curie-nav 

.video-nav
  margin: 2%
  float: left
  border: transparent 3px solid
  &.selected
    border-color: white
    -moz-box-shadow: -3px -3px 10px 0px #555555
    -webkit-box-shadow: -3px -3px 10px 0px #555555
    -o-box-shadow: -3px -3px 10px 0px #555555
    box-shadow: -3px -3px 10px 0px #555555



body
  background: image-url("posters/00-backgroundimage-landingpage.jpg")
  background-repeat: no-repeat
  background-position: center center
  background-attachment: fixed
  background-size: cover