= wrap_layout :fullscreen do
  .nav-buttons
    .home-button
      %a{href: "/"}
        = image_tag 'mainNav/btn_home.png'
    .back-button
      %a{href: "."}
        = image_tag 'mainNav/btn_close_big.png'
  = yield


