= wrap_layout :fullscreen do
  .nav-buttons
    .home-button
      %a{href: "/pages"}
        = image_tag 'mainNav/btn_home.png'
    .back-button
      %a{href: current_page.data.parent_page || parent_page}
        = image_tag 'mainNav/btn_close_big.png'
  = yield
