---
layout: nav
name: secondary
picto: surgical
poster: /images/posters/03-03-background-reconstruction-sec.jpg
color: pink
items:
  prothèse: 
    angle-triangle: 180
    angle-item: 180
  reconstructions-autologues: 
    angle-triangle: 20
    angle-item: 30
  reconstruction-lipomodelage: 
    angle-triangle: 330
    angle-item: 330
---

= partial 'layouts/navigation/branch'
= partial 'layouts/modals/intro'

- content_for :javascripts do
  :coffeescript
    initBigVideoImage()
    $(document).ready ->
      $.BV.show [{ type: "video/mp4", src: "http://player.vimeo.com/external/110338853.hd.mp4?s=4598cc7b31d8585ac240d92aa9cfba2e" }], ambient: true
