---
layout: nav
title: "Les reconstructions par grand dorsal - Danielle, le grand dorsal à distance"
description: ""
background: "03-03-background-reconstruction-sec.jpg"
poster: "03-03-03-01-02-videoseule-gdconsultelisabeth.jpg"
videos:
  danielle-grand-dorsal:
    src: "http://player.vimeo.com/external/109834968.hd.mp4?s=43b66cb404fddf244c9b9ff5c6cd00c8"
    thumbnail: "03-03-03-01-02-videoseule-gdconsultdanielle.jpg"
    poster: "03-03-03-01-02-videoseule-gdconsultdanielle.jpg"
---

= partial "layouts/video/playlist"
