---
layout: nav
title: "Les reconstructions par grand dorsal - Élisabeth, dernière consultation avant l’intervention"
description: ""
background: "03-03-background-reconstruction-sec.jpg"
poster: "03-03-03-01-01-videoseule-gdconsultelisabeth.jpg"
videos:
  elisabeth-dernière-consultation:
    src: "http://player.vimeo.com/external/109834971.hd.mp4?s=c29487ec31940237f476b2c1e9698e56"
    thumbnail: "03-03-03-01-01-videoseule-gdconsultelisabeth.jpg"
    poster: "03-03-03-01-01-videoseule-gdconsultelisabeth.jpg"
---

= partial "layouts/video/playlist"
