---
layout: nav
title: "Les reconstructions par grand dorsal - Les mots des femmes"
description: ""
background: "03-03-background-reconstruction-sec.jpg"
poster: "03-03-03-01-03-videoseule-gdconsultelisabeth.jpg"
videos:
  mots-femmes-1:
    src: "http://player.vimeo.com/external/109834969.hd.mp4?s=39ef6374f2584458a5c7ce2eca6033df"
    thumbnail: "03-03-03-01-03-videochapitree-gditwpatientes.jpg"
    poster: "03-03-03-01-03-videochapitree-gditwpatientes.jpg"
---

= partial "layouts/video/playlist"
