---
layout: nav
title: "Les reconstructions par grand dorsal - Paroles des soignants"
description: ""
background: "03-03-background-reconstruction-sec.jpg"
poster: "03-03-03-01-04-videoseule-gdconsultelisabeth.jpg"
videos:
  paroles-soignants-2:
    src: "http://player.vimeo.com/external/109834970.hd.mp4?s=5584bcdb8a19fe36d62a4fcfc43f3f9f"
    thumbnail: "03-03-03-01-04-videoseule-gditwsoignants.jpg"
    poster: "03-03-03-01-04-videoseule-gditwsoignants.jpg"
---

= partial "layouts/video/playlist"
