---
title: Curie Webdoc - Guérir le regard
poster: /images/posters/01-videobackground-infosein.jpg
---

#main.container-fluid
  .row
    .col-sm-12
      .spacer
      = partial "layouts/circular_navigation"
      .spacer
#tutorial

- content_for :javascripts do
  :coffeescript
    initBigVideoImage()
    @playlist = [
      [{ type: "video/mp4",  src: "http://player.vimeo.com/external/109821776.hd.mp4?s=123961b2d810db71fa25e52555caf8f1", poster: "/images/posters/01-videobackground-infosein.jpg"}],
      [{ type: "video/mp4",  src: "http://player.vimeo.com/external/109823311.hd.mp4?s=17a5ae34361c7cda0b1d780b1623010a", poster: "/images/posters/02-videobackground-mastecomie.jpg"}],
      [{ type: "video/mp4",  src: "http://player.vimeo.com/external/110338954.hd.mp4?s=b1877aa77bf1de90459da96b84ee758b", poster: "/images/posters/03-videobackground-reconstruction.jpg"}],
      [{ type: "video/mp4",  src: "http://player.vimeo.com/external/110339033.hd.mp4?s=bb242f139508f88774040c4301fa1a5a", poster: "/images/posters/04-videobackground-sans-interv.jpg"}],
      [{ type: "video/mp4",  src: "http://player.vimeo.com/external/110645678.hd.mp4?s=a8f5c73a6c26501a00a6980fbecc909e", poster: "/images/posters/05-videobackground-interrogations.jpg"}]
    ]
    $(document).ready ->
      $("#tipue_search_input").tipuedrop()
      eventType = (if Modernizr.touch then 'touchstart' else 'mousedown')
      $("#tutorial").on eventType, (event) ->
        $("#tutorial-circle").toggleClass("tutorial-mask hide")
        event.stopPropagation()
        $(document).one(eventType, (-> $("#tutorial-circle").toggleClass("tutorial-mask hide")))
      $("#tutorial").trigger(eventType) # display tutorial layer
