---
title: Curie Webdoc - Guérir le regard
---

#main.container-fluid
  .row
    .col-sm-4.col-sm-offset-4
      .spacer
      = partial "layouts/circular_navigation"
      .spacer
#tutorial

- content_for :javascripts do
  :coffeescript
    @playlist = [
      [{ type: "video/mp4",  src: "http://player.vimeo.com/external/109821776.hd.mp4?s=123961b2d810db71fa25e52555caf8f1"  }],
      [{ type: "video/mp4",  src: "http://dfcb.github.io/BigVideo.js/vids/dock.mp4"  }],
      [{ type: "video/mp4",  src: "http://dfcb.github.io/BigVideo.js/vids/river.mp4"  }]
    ]
    $(document).ready ->
      $("#tipue_search_input").tipuedrop()
      BV.init()
      if Modernizr.touch
        BV.show "http://video-js.zencoder.com/oceans-clip.png"
      else
        BV.show playlist[0], ambient: true
      $("#tutorial").click (event) ->
        $("#tutorial-circle").toggleClass("tutorial-mask hide")
        event.stopPropagation()
        $("body").one("click", (-> $("#tutorial-circle").toggleClass("tutorial-mask hide")))
