---
layout: nav
title: "La reconstruction par lipomodelage - Animation"
description: ""
name: intro-lipomodelage
color: pink
picto: surgical
background: "03-03-background-reconstruction-sec.jpg"
poster: "03-03-03-03-01-videoanimation-lipomodelage.jpg"
videos:
  lipomodelage-animation:
    src: "http://player.vimeo.com/external/109836792.hd.mp4?s=c7d9b2c9b6e353619e88b2b4e9b7b536"
    thumbnail: "03-03-03-03-01-videoanimation-lipomodelage.jpg"
    poster: "03-03-03-03-01-videoanimation-lipomodelage.jpg"
---

= partial "layouts/video/playlist"
= partial 'layouts/modals/intro'

- content_for :javascripts do
  :coffeescript
    $(document).ready ->
      $("#modal-intro").modal "show"
