---
layout: nav
background: "03-03-background-reconstruction-sec.jpg"
videos:
  reconstruction-secondaire-prothèse:
    src: "http://player.vimeo.com/external/109834722.hd.mp4?s=a76a7eca08654c09315925041c0bacc7"
    thumbnail: "03-03-02-01-videoanim-prothese.jpg"
    poster: "03-03-02-01-videoanim-prothese.jpg"
---

= partial "layouts/video/playlist"
