---
layout: nav
background: "03-03-background-reconstruction-sec.jpg"
videos:
  delphine-reconstruction-expandeur:
    src: "http://player.vimeo.com/external/109834723.hd.mp4?s=f3fb2d404f32d3142d2e84caed798430"
    thumbnail: "03-03-02-02-videoseule-delphexpandeur.jpg"
    poster: "03-03-02-02-videoseule-delphexpandeur.jpg"
---

= partial "layouts/video/playlist"
