---
layout: nav
background: "03-03-background-reconstruction-sec.jpg"
videos:
  paroles-soignants-1:
    src: "http://player.vimeo.com/external/109834724.hd.mp4?s=8bdc1787fd5864109e17a372e1b667d4"
    thumbnail: "03-03-02-04-videoseule-itwsoignantsprothese.jpg"
    poster: "03-03-02-04-videoseule-itwsoignantsprothese.jpg"
---

= partial "layouts/video/playlist"
