%video#video-player.video-js.vjs-default-skin{"data-setup" => '{ "controls": true, "autoplay": true, "preload": "auto" }', :height => "264", :poster => "http://video-js.zencoder.com/oceans-clip.png", :preload => "auto", :width => "640"}
  %source{:src => default_src, :type => "video/mp4"}
  %p.vjs-no-js
    To view this video please enable JavaScript, and consider upgrading to a web browser that
    %a{:href => "http://videojs.com/html5-video-support/", :target => "_blank"} supports HTML5 video