%video#video-player.video-js.vjs-default-skin{controls: "", :height => "264", :poster => "http://video-js.zencoder.com/oceans-clip.png", :preload => "auto", :width => "640"}
  %source{:src => current_page.data.videos.values.first["src"], :type => "video/mp4"}
  %p.vjs-no-js
    To view this video please enable JavaScript, and consider upgrading to a web browser that
    %a{:href => "http://videojs.com/html5-video-support/", :target => "_blank"} supports HTML5 video

- current_page.data.videos.each do |key, video|
  .video-nav{"data-video-src" => video["src"]}
    %img{ src: "http://upload.wikimedia.org/wikipedia/commons/1/18/Okapi2.jpg", width: "100px" }

- content_for :javascripts do
  :coffeescript
    $(document).ready ->

      $('.video-nav').on 'click', 'img', ->
        video_src = $(this).parent().data('video-src')
        videojs("video-player").ready ->
          myPlayer = this
          myPlayer.src(video_src)
          myPlayer.play()
          
      return
    return