= partial "pages/nav/default_player", locals: { default_src: current_page.data.videos.values.first["src"] }

- current_page.data.videos.each do |key, video|
  .video-nav{"data-video-src" => video["src"]}
    %img{ src: video["thumbnail"], width: "100px" }

- content_for :javascripts do
  :coffeescript
    $(document).ready ->

      $('.video-nav').on 'click', 'img', ->
        video_src = $(this).parent().data('video-src')
        videojs("video-player").ready ->
          myPlayer = this
          myPlayer.src(video_src)
          myPlayer.play()
          
      return
    return