#video-wrapper
  = partial "pages/nav/default_player", locals: { default_src: current_page.data.src }

  - current_page.data.chapters.each do |key, chapter|
    .video-nav{"data-video-offset" => chapter["offset"]}
      %img{ src: chapter["thumbnail"], width: "100px" }

- content_for :javascripts do
  :coffeescript
    $(document).ready ->

      $('.video-nav').on 'click', 'img', ->
        offset = $(this).parent().data('video-offset')
        videojs("video-player").ready ->
          myPlayer = this
          myPlayer.currentTime(offset)
          myPlayer.play()
          
      return
    return