---
layout: nav
name: mastectomy
poster: /images/posters/02-videobackground-mastecomie.jpg
color: blue
items:
  sentence-image:
    angle: 180
    sub_items:
      - bonjour
      - bonjour
  parcours-lena:
    angle: 45
  mots-femmes:
    angle: 135
  mots-mathieu:
    angle: 225
  paroles-soignants:
    angle: 315
---

= partial 'layouts/navigation/branch'
= partial 'layouts/modals/intro'

- content_for :javascripts do
  :coffeescript
    initBigVideoImage()
    $(document).ready ->
      $.BV.show [{ type: "video/mp4", src: "http://player.vimeo.com/external/109823311.hd.mp4?s=17a5ae34361c7cda0b1d780b1623010a" }], ambient: true
