---
layout: nav
title: "La mastectomie"
description: ""
name: mastectomy
poster: "02-backgroundimage-mastec.jpg"
color: blue
items:
  imagerie:
    angle-triangle: 180
    angle-item: 180
    sub_items:
      - sentence-images-biopsie
      - mots-laurence
  léna:
    angle-triangle: 20
    angle-item: 30
  mots-femmes:
    angle-triangle: 150
    angle-item: 135
  mots-mathieu:
    angle-triangle: 215
    angle-item: 215
  paroles-soignants:
    angle-triangle: 335
    angle-item: 335
---

= partial 'layouts/navigation/branch'
= partial 'layouts/modals/intro'

- content_for :javascripts do
  :coffeescript
    $.BV.init()
    initVideoImageLoader($.BV.getPlayer())
    $(document).ready ->
      if document.referrer.match("\/intro(\/)*$")
        $("#modal-intro").modal "show"
      $.BV.show [{ type: "video/mp4", src: "http://player.vimeo.com/external/109823311.hd.mp4?s=17a5ae34361c7cda0b1d780b1623010a" }], ambient: true
