---
poster: /images/posters/02-01-videoseule-intromastec.jpg
video_src: http://player.vimeo.com/external/109822028.hd.mp4?s=a89f6b08b6960f3a8779f1ff61f3b5c2
layout: fullscreen
---

= partial 'layouts/video/intro'
