---
title: "La mastectomie - Le parcours de Léna introduction"
description: ""
poster: "02-03-01-videoseule-introlena.jpg"
video_src: "http://player.vimeo.com/external/109823396.hd.mp4?s=edc94c39c8de99913bc24cf4c93962b5"
layout: fullscreen
redirect_to: lena
---

= partial 'layouts/video/intro'
