---
layout: nav
background: 02-videobackground-mastecomie.jpg
poster: "02-03-videobackground-lena.jpg"
videos:
  se-préparer-ablation:
    src: "http://player.vimeo.com/external/109823398.hd.mp4?s=49bd44b0dc164f648b917afb30c7d98c"
    thumbnail: "02-03-02-videoseule-prepalena.jpg"
    poster: "02-03-02-videoseule-prepalena.jpg"
  consultation-infirmière-mastectomie:
    src: "http://player.vimeo.com/external/109823400.hd.mp4?s=c3b7cb86d4258f15dca8914c295ac5b1"
    thumbnail: "02-03-03-videoseule-consultinflena.jpg"
    poster: "02-03-03-videoseule-consultinflena.jpg"
  consultation-accueil-mastectomie:
    src: "http://player.vimeo.com/external/109823401.hd.mp4?s=4faad6212e983da21d18b1d94564ea26"
    thumbnail: "02-03-04-videoseule-consulthospilena.jpg"
    poster: "02-03-04-videoseule-consulthospilena.jpg"
  jour-mastectomie:
    src: "http://player.vimeo.com/external/109823404.hd.mp4?s=db5a490302123218c89c4762fb40317b"
    thumbnail: "02-03-05-videoseule-opelena.jpg"
    poster: "02-03-05-videoseule-opelena.jpg"
  vidéo-laboratoire:
    src: "http://player.vimeo.com/external/109824852.hd.mp4?s=8878d2f4c28c4a983025a73bff7b1c7d"
    thumbnail: "02-03-06-videoseule-labolena.jpg"
    poster: "02-03-06-videoseule-labolena.jpg"
  découverte-cicatrice-pansement:
    src: "http://player.vimeo.com/external/109824849.hd.mp4?s=36723e6bb1d4c9973b7b4a315c145973"
    thumbnail: "02-03-07-videoseule-pansementlena.jpg"
    poster: "02-03-07-videoseule-pansementlena.jpg"
  prothèse-coton-reconstruction:
    src: "http://player.vimeo.com/external/109824975.hd.mp4?s=c1940690431fa906f01a108c92bf423a"
    thumbnail: "02-03-08-videoseule-protheselena.jpg"
    poster: "02-03-08-videoseule-protheselena.jpg"
  consultations-post-mastectomie:
    src: "http://player.vimeo.com/external/109824976.hd.mp4?s=b8974c78e1730526fb09e7658df95d79"
    thumbnail: "02-03-09-videoseule-postoplena.jpg"
    poster: "02-03-09-videoseule-postoplena.jpg"
  radiothérapie-radiothérapeute:
    src: "http://player.vimeo.com/external/109824978.hd.mp4?s=3e2d2e0fd83453db859f188fc5fddbda"
    thumbnail: "02-03-10-videoseule-radiotherapielena.jpg"
    poster: "02-03-10-videoseule-radiotherapielena.jpg"
  dans-le-jardin:
    src: "http://player.vimeo.com/external/109824977.hd.mp4?s=8d2f4ebcccfe7438ba9d5fdda048c02d"
    thumbnail: "02-03-11-videoseule-itwfinlena.jpg"
    poster: "02-03-11-videoseule-itwfinlena.jpg"
---

= partial "layouts/video/playlist"
