---
layout: nav
src: "http://player.vimeo.com/external/109822164.hd.mp4?s=783dc8e8240b98e569ac522856b800d5"
background: "02-04-videochapitree-itwfemmesmastec.jpg"
poster: "02-04-videochapitree-itwfemmesmastec.jpg"
chapters:
  avant-mastectomie:
    offset: 0
    thumbnail: "02-04-videochapitree-itwfemmesmastec.jpg"
  premier-pansement-1:
    offset: 95
    thumbnail: "02-04-videochapitree-itwfemmesmastec.jpg"
  la-cicatrice:
    offset: 165
    thumbnail: "02-04-videochapitree-itwfemmesmastec.jpg"
  après-mastectomie:
    offset: 258
    thumbnail: "02-04-videochapitree-itwfemmesmastec.jpg"
  le-couple:
    offset: 343
    thumbnail: "02-04-videochapitree-itwfemmesmastec.jpg"
---

= partial "layouts/video/chapters"
