---
layout: nav
src: "http://player.vimeo.com/external/109822165.hd.mp4?s=488f3ca209a32056162cc6dbe926b9b7"
poster: "02-05-videochapitree-itwmathieumastec.jpg"
chapters:
  être-étranger: 
    offset: 0
    thumbnail: "02-05-videochapitree-itwmathieumastec.jpg"
  sein-féminité: 
    offset: 23
    thumbnail: "02-05-videochapitree-itwmathieumastec.jpg"
  l-inconnu: 
    offset: 63
    thumbnail: "02-05-videochapitree-itwmathieumastec.jpg"
---

= partial "layouts/video/chapters"
