---
layout: nav
src: "http://player.vimeo.com/external/109821777.hd.mp4?s=919c24bcb26845dc6db2f306de7dd119"
poster: "01-01-videoseule-introinfosein.jpg"
chapters:
  chapter-1:
    offset: 0
    thumbnail: "01-01-videoseule-introinfosein.jpg"
  chapter-2:
    offset: 10
    thumbnail: "02-01-videoseule-intromastec.jpg"
---

= partial "layout/video/chapters"


