---
layout: nav
title: "La mastectomie - Les paroles des soignants"
description: ""
src: "http://player.vimeo.com/external/109822167.hd.mp4?s=d660db8c50aa455a361ff96c2b52f23f"
background: "02-backgroundimage-mastec.jpg"
poster: "02-06-videochapitree-itwsoignantsmastec.jpg"
chapters:
  annonce-mastectomie:
    offset: 0
    thumbnail: "02-06-videochapitree-itwsoignantsmastec.jpg"
  premier-pansement-2:
    offset: 46
    thumbnail: "02-06-videochapitree-itwsoignantsmastec.jpg"
  regard-social:
    offset: 144
    thumbnail: "02-06-videochapitree-itwsoignantsmastec.jpg"
---

= partial "layouts/video/chapters"
