---
layout: nav
title: "Les mots du groupe Info-Sein"
description: ""
src: "http://player.vimeo.com/external/109821778.hd.mp4?s=117a7661b9b1906d0c620b9269c5498a"
background: "01-backgroundimage-groupeinfosein.jpg"
poster: "01-03-videochapitree-itwinfosein.jpg"
chapters:
  la-genèse:
    offset: 0
    thumbnail: "01-03-videochapitree-itwinfosein.jpg"
  relation-soignants-soignés:
    offset: 33
    thumbnail: "01-03-videochapitree-itwinfosein.jpg"
  nouvelle-définition-reconstruction:
    offset: 146
    thumbnail: "01-03-videochapitree-itwinfosein.jpg"
  vases-communicants:
    offset: 187
    thumbnail: "01-03-videochapitree-itwinfosein.jpg"
  la-finalité:
    offset: 253
    thumbnail: "01-03-videochapitree-itwinfosein.jpg"
---

= partial "layouts/video/chapters"
