---
layout: nav
background: "04-videobackground-sans-interv.jpg"
poster: "04-02-01-videoseule-cathie.jpg"
videos:
  cathie-femme-asymétrique:
    src: "http://player.vimeo.com/external/109838687.hd.mp4?s=921fca341d38efa39efaeed4eeb6ee72"
    thumbnail: "04-02-01-videoseule-cathie.jpg"
    poster: "04-02-01-videoseule-cathie.jpg"
---

= partial "layouts/video/playlist"
