---
layout: nav
title: "Trois femmes amazones - Géraldine, un chemin…"
description: ""
background: "04-background-sans-interv.jpg"
poster: "04-02-03-videoseule-geraldine.jpg"
videos:
  géraldine-chemin:
    src: "http://player.vimeo.com/external/109838689.hd.mp4?s=9d931d28545327265ccbcf75ccd176b4"
    thumbnail: "04-02-03-videoseule-geraldine.jpg"
    poster: "04-02-03-videoseule-geraldine.jpg"
---

= partial "layouts/video/playlist"
