---
layout: nav
background: "04-background-sans-interv.jpg"
poster: "04-02-02-videoseule-laurence.jpg"
videos:
  laurence-tatouage-fleur:
    src: "http://player.vimeo.com/external/109838688.hd.mp4?s=71d623ec8ac67847e869679a508cd3df"
    thumbnail: "04-02-02-videoseule-laurence.jpg"
    poster: "04-02-02-videoseule-laurence.jpg"
---

= partial "layouts/video/playlist"
