---
layout: nav
src: "http://player.vimeo.com/external/109825421.hd.mp4?s=e3aa0a769ad8d82aa2a1624372d1b5e3"
poster: "03-02-03-videochapitree-itwfemmesreconstimm.jpg"
chapters:
  l-espoir: 
    offset: 0
    thumbnail: "03-02-03-videochapitree-itwfemmesreconstimm.jpg"
  l-échec: 
    offset: 80
    thumbnail: "03-02-03-videochapitree-itwfemmesreconstimm.jpg"
---

= partial "layouts/video/chapters"
