---
layout: nav
title: "La reconstruction immédiate - Les paroles des soignants"
description: ""
name: intro-immédiate
color: pink
picto: surgical
src: "http://player.vimeo.com/external/109825422.hd.mp4?s=f3586b7d87b3ac274ccbaf25fbcca9d4"
background: "03-background-reconstruction.jpg"
poster: "03-02-04-videochapitree-itwsoignantsreconstimm.jpg"
chapters:
  l-illusion:
    offset: 25
    thumbnail: "03-02-04-videochapitree-itwsoignantsreconstimmCH1.jpg"
  temps-primordial:
    offset: 96
    thumbnail: "03-02-04-videochapitree-itwsoignantsreconstimmCH2.jpg"
  avoir-choix:
    offset: 131
    thumbnail: "03-02-04-videochapitree-itwsoignantsreconstimmCH3.jpg"
---

= partial "layouts/video/chapters"
= partial 'layouts/modals/intro'

- content_for :javascripts do
  :coffeescript
    $(document).ready ->
      $("#modal-intro").modal "show"
