---
title: "La reconstruction immédiate - Le parcours de Sylvie introduction"
description: ""
poster: "03-02-02-01-videoseule-introsylvie.jpg"
video_src: "http://player.vimeo.com/external/109825603.hd.mp4?s=d69a6a38da3dc166b6fdead0879e7007"
layout: fullscreen
redirect_to: sylvie
---

= partial 'layouts/video/intro'
