---
layout: nav
background: "03-02-02-01-videoseule-introsylvie.jpg"
videos:
  disagnostic-propositions: 
    src: "http://player.vimeo.com/external/109825604.hd.mp4?s=3d6b8e48aedf191ff24a489140334afb"
    thumbnail: "03-02-02-02-videochapitree-diagnosylvie.jpg"
    poster: "03-02-02-02-videochapitree-diagnosylvie.jpg"
  proposition-déstabilisante: 
    src: "http://player.vimeo.com/external/109825605.hd.mp4?s=ee31b9329db5bc5b3f19d23935325b00"
    thumbnail: "03-02-02-03-videoseule-itwdiagnosylvie.jpg"
    poster: "03-02-02-03-videoseule-itwdiagnosylvie.jpg"
  consultation-infirmière-reconstruction: 
    src: "http://player.vimeo.com/external/109825606.hd.mp4?s=92f9dd7c7e3db44c5cff4cd77e0437a2"
    thumbnail: "03-02-02-04-videoseule-consultinfsylvie.jpg"
    poster: "03-02-02-04-videoseule-consultinfsylvie.jpg"
  échéance-improbable:
    src: "http://player.vimeo.com/external/109825607.hd.mp4?s=ee5ca92583efb571ee3e796775871d62"
    thumbnail: "03-02-02-05-videoseule-itwconsultinfsylvie.jpg"
    poster: "03-02-02-05-videoseule-itwconsultinfsylvie.jpg"
  consultation-accueil-reconstruction: 
    src: "http://player.vimeo.com/external/109834397.hd.mp4?s=6d9f405279010dfba6269f82592b8bc2"
    thumbnail: "03-02-02-06-videoseule-accueilhospisylvie.jpg"
    poster: "03-02-02-06-videoseule-accueilhospisylvie.jpg"
  jour-intervention: 
    src: "http://player.vimeo.com/external/109834399.hd.mp4?s=188a40ffb0a1c8910418d37441272a3e"
    thumbnail: "03-02-02-07-videoseule-opesylvie.jpg"
    poster: "03-02-02-07-videoseule-opesylvie.jpg"
  visite-chirurgien-reconstruction:
    src: "http://player.vimeo.com/external/109834401.hd.mp4?s=b0a19d1cfca2cf2ca60ec30b0721219d"
    thumbnail: "03-02-02-08-videoseule-j1sylvie.jpg"
    poster: "03-02-02-08-videoseule-j1sylvie.jpg"
  pas-de-regrets: 
    src: "http://player.vimeo.com/external/109834402.hd.mp4?s=b94fe129660f6751a061799a3ef7aada"
    thumbnail: "03-02-02-09-videoseule-itwj1sylvie.jpg"
    poster: "03-02-02-09-videoseule-itwj1sylvie.jpg"
  consultations-post-reconstruction: 
    src: "http://player.vimeo.com/external/109834405.hd.mp4?s=1a7a5b99e3f59a7eefa1fb686f167825"
    thumbnail: "03-02-02-10-videoseule-consultpostopsylvie.jpg"
    poster: "03-02-02-10-videoseule-consultpostopsylvie.jpg"
  corps-étranger: 
    src: "http://player.vimeo.com/external/109834539.hd.mp4?s=bf4264a462d376a5c370bdc349c351b4"
    thumbnail: "03-02-02-11-videoseule-itwfinsylvie.jpg"
    poster: "03-02-02-11-videoseule-itwfinsylvie.jpg"
---

= partial "layouts/video/playlist"
