---
layout: nav
title: "La reconstruction non chirurgicale - Garance, ligne de vêtements asymétriques "
description: ""
background: "04-background-sans-interv.jpg"
poster: "05-05-02-videoseule-garance.jpg"
videos:
  garance-ligne-vêtements:
    src: "http://player.vimeo.com/external/109838537.hd.mp4?s=200b83d7ac16e5bc1516a64583bdb2df"
    thumbnail: "04-04-videoseule-garance.jpg"
    poster: "04-02-01-videoseule-cathie.jpg"
---

= partial "layouts/video/playlist"
