---
layout: nav
name: nonsurgical
poster: "04-videobackground-sans-interv.jpg"
color: orange
items:
  femmes-amazones:
    angle-triangle: 180
    angle-item: 180
    sub_items:
      - cathie
      - laurence
      - géraldine
  paroles-soignants:
    angle-triangle: 20
    angle-item: 30
  garance:
    angle-triangle: 330
    angle-item: 330
---

= partial 'layouts/navigation/branch'
= partial 'layouts/modals/intro'

- content_for :javascripts do
  :coffeescript
    $.BV.init()
    initVideoImageLoader($.BV.getPlayer())
    $(document).ready ->
      if document.referrer.match("\/intro(\/)*$")
        $("#modal-intro").modal "show"
      $.BV.show [{ type: "video/mp4", src: "http://player.vimeo.com/external/110339033.hd.mp4?s=bb242f139508f88774040c4301fa1a5a" }], ambient: true
