---
poster: 04-01-videoseule-introreconstsanschir.jpg
video_src: http://player.vimeo.com/external/109838488.hd.mp4?s=919d442545ef0e98ab78850d2c30b6b0
layout: fullscreen
---

= partial 'layouts/video/intro'
