---
layout: nav
background: "04-background-sans-interv.jpg"
poster: "04-03-videoseule-itwsoignantsreconstsanschir.jpg"
videos:
  paroles-soignants-5:
    src: "http://player.vimeo.com/external/109838539.hd.mp4?s=a2fcedba27e29754b996b5d7cd8a4312"
    thumbnail: "04-03-videoseule-itwsoignantsreconstsanschir.jpg"
    poster: "04-03-videoseule-itwsoignantsreconstsanschir.jpg"
---

= partial "layouts/video/playlist"
