---
videos:
  first-video:
    src: "http://video-js.zencoder.com/oceans-clip.mp4"
  second-video:
    src: "http://dfcb.github.io/BigVideo.js/vids/dock.mp4"
---

= partial "pages/nav/multiple_videos"


