---
layout: nav
poster: "01-01-videoseule-introinfosein.jpg"
videos:
  first-video:
    src: "http://video-js.zencoder.com/oceans-clip.mp4"
    thumbnail: "01-01-videoseule-introinfosein.jpg"
  second-video:
    src: "http://dfcb.github.io/BigVideo.js/vids/dock.mp4"
    thumbnail: "02-01-videoseule-intromastec.jpg"
---

= partial "pages/nav/multiple_videos"


