---
layout: nav
src: "http://video-js.zencoder.com/oceans-clip.mp4"
poster: "01-01-videoseule-introinfosein.jpg"
chapters: 
  chapter-1:
    offset: 0
    thumbnail: "01-01-videoseule-introinfosein.jpg"
  chapter-2:
    offset: 10
    thumbnail: "02-01-videoseule-intromastec.jpg"
---

= partial "pages/nav/video_with_chapters"


