.circle-container
  %a.center
    %img{:src => "http://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Circle_-_black_simple.svg/2000px-Circle_-_black_simple.svg.png", width: "100%"}/
  .menu-title.deg0
    = partial 'pages/menu/title', locals: {content: "la sentence des images", items: ["le machin","le truc"]}
  .menu-title.deg45
    = partial 'pages/menu/title', locals: {content: "la sentence des images", items: ["le machin","le truc"]}
  .menu-title.deg135
    2
  .menu-title.deg180
    3
  .menu-title.deg225
    4
  .menu-title.deg315
    5



= partial 'pages/modal', locals: {name: 'mastectomy'}

- content_for :javascripts do
  :coffeescript
    $(document).ready ->
      $("#mastectomy").modal "show"
      $('.menu-title').on 'mouseenter', ->
        $(this).find('.menu-items').animate({opacity: 1})
      $('.menu-title').on 'mouseleave', ->
        $(this).find('.menu-items').animate({opacity: 0})
