.menu-circle
  .circle-big
    .circle.angle-90
    .circle.angle-180
    .circle.angle-0


= partial 'pages/modal', locals: {name: 'mastectomy'}

- content_for :javascripts do
  :coffeescript
    $(document).ready ->
      $("#mastectomy").modal "show"
