---
layout: nav
name: mastectomy
color: blue
items:
  sentence-image:
    angle-triangle: 180
    angle-item: 180
    sub_items:
      - bonjour
      - bonjour
  parcours-lena:
    angle-triangle: 35
    angle-item: 45
  mots-femmes:
    angle-triangle: 150
    angle-item: 135
  mots-mathieu:
    angle-triangle: 225
    angle-item: 225
  paroles-soignants:
    angle-triangle: 315
    angle-item: 315
---

= partial 'pages/nav/menu'
= partial 'pages/nav/modal'

