---
name: mastectomy
items:
  sentence_image:
    angle: 0
    sub_items:
      - alpha
      - beta
  parcours_lena:
    angle: 45
  mots_femmes:
    angle: 135
  mots_mathieu:
    angle: 225
  mots_soignants:
    angle: 315
---

= partial 'pages/nav/menu'
= partial 'pages/nav/modal'

