---
layout: nav
name: mastectomy
color: blue
items:
  sentence-image:
    angle: 180
    sub_items:
      - bonjour
      - bonjour
  parcours-lena:
    angle: 45
  mots-femmes:
    angle: 135
  mots-mathieu:
    angle: 225
  paroles-soignants:
    angle: 315
---

= partial 'pages/nav/menu'
= partial 'pages/nav/modal'

