---
name: mastectomy
items:
  sentence-image:
    angle: 0
    sub_items:
      - alpha
      - beta
  parcours-lena:
    angle: 45
  mots-femmes:
    angle: 135
  mots-mathieu:
    angle: 225
  mots-soignants:
    angle: 315
---

= partial 'pages/nav/menu'
= partial 'pages/nav/modal'

