---
layout: nav
name: mastectomy
color: blue
items:
  sentence-image:
    angle-triangle: 180
    angle-item: 180
    sub_items:
      - bonjour
      - bonjour
  parcours-lena:
    angle-triangle: 30
    angle-item: 40
  mots-femmes:
    angle-triangle: 150
    angle-item: 135
  mots-mathieu:
    angle-triangle: 215
    angle-item: 215
    thumbnail: thumbnail_rounded_avec_tmp.png
  paroles-soignants:
    angle-triangle: 325
    angle-item: 320
---

= partial 'pages/nav/menu'
= partial 'pages/nav/modal'

