---
layout: nav
src: "http://video-js.zencoder.com/oceans-clip.mp4"
chapters: 
  chapter-1:
    offset: 0
    thumbnail: "http://upload.wikimedia.org/wikipedia/fr/archive/3/35/20090104094930!Starbucks_Coffee_Logo.svg"
  chapter-2:
    offset: 10
    thumbnail: "https://g.twimg.com/Twitter_logo_blue.png"
---

= partial "pages/nav/video_with_chapters"


