---
layout: nav
images:
  -
    src: "lien"
    desc: "chacha"
  -
    src: "lien"
    desc: "chouchou"
---
#carousel-wraper
  #carousel-curie.carousel.slide{"data-ride" => "carousel"}
    / Wrapper for slides
    .carousel-inner{:role => "listbox"}
      - current_page.data.images.each_with_index do |image, index|
        .item{"data-description" => image["desc"], class: "#{'active' if index==0}"}
          = image_tag lorem.image("600x600")

    / Controls
    %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-curie", :role => "button"}
      %span.glyphicon.glyphicon-chevron-left
      %span.sr-only Previous
    %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-curie", :role => "button"}
      %span.glyphicon.glyphicon-chevron-right
      %span.sr-only Next

  #image-description= current_page.data.images.first["desc"]

- content_for :javascripts do
  :coffeescript
    $(document).ready ->

      $('#carousel-curie').on 'slide.bs.carousel', (event)->
        $('#image-description').text($(event.relatedTarget).data('description'))
      return
    return