---
layout: nav
images:
  -
    src: "lien"
    desc: "chacha"
  -
    src: "lien"
    desc: "chouchou"
---
#carousel-wraper
  #carousel-curie.carousel.slide{"data-ride" => "carousel", "data-interval" => "false"}
    / Wrapper for slides
    .carousel-inner{:role => "listbox"}
      - current_page.data.images.each_with_index do |image, index|
        .item{"data-description" => image["desc"], class: "#{'active' if index==0}"}
          = image_tag lorem.image("600x600")

  #image-description= current_page.data.images.first["desc"]

  %ul.list-inline
    %li
      %a#carousel-selector-0.selected
        %img.img-responsive{:src => "http://placehold.it/80x60&text=one"}/
    %li
      %a#carousel-selector-1
        %img.img-responsive{:src => "http://placehold.it/80x60&text=two"}/

- content_for :javascripts do
  :coffeescript
    $(document).ready ->

      $('#carousel-curie').on 'slide.bs.carousel', (event)->
        $('#image-description').text($(event.relatedTarget).data('description'))

      # handles the carousel thumbnails
      $("[id^=carousel-selector-]").click ->
        id_selector = $(this).attr("id")
        id = id_selector.substr(id_selector.length - 1)
        id = parseInt(id)
        $("#carousel-curie").carousel id
        $("[id^=carousel-selector-]").removeClass "selected"
        $(this).addClass "selected"
        return

      # when the carousel slides, auto update
      $("#carousel-curie").on "slid", (e) ->
        id = $(".item.active").data("slide-number")
        id = parseInt(id)
        $("[id^=carousel-selector-]").removeClass "selected"
        $("[id=carousel-selector-" + id + "]").addClass "selected"
        return
