---
layout: nav
title: "Miscellanées - Interventions en animations"
description: ""
src: "http://player.vimeo.com/external/110339082.hd.mp4?s=e192e3a9d2ab7dd09513853d061b5d90"
background: "F-02-01-background.jpg"
poster: "F-02-01-animations-operations.jpg"
chapters:
  la-mastectomie:
    offset: 0
    thumbnail: "F-02-01-animations-operationsCH1.jpg"
  reconstruction-prothèses:
    offset: 29
    thumbnail: "F-02-01-animations-operationsCH2.jpg"
  reconstruction-prothèses-symétrisation:
    offset: 60
    thumbnail: "F-02-01-animations-operationsCH3.jpg"
  reconstruction-grand-dorsal:
    offset: 98
    thumbnail: "F-02-01-animations-operationsCH4.jpg"
  reconstruction-diep:
    offset: 134
    thumbnail: "F-02-01-animations-operationsCH5.jpg"
  reconstruction-lipomodelage:
    offset: 184
    thumbnail: "F-02-01-animations-operationsCH6.jpg"
  reconstruction-aréole-mamelon:
    offset: 205
    thumbnail: "F-02-01-animations-operationsCH7.jpg"
---

= partial "layouts/video/chapters"
