---
layout: nav
src: "http://player.vimeo.com/external/110339082.hd.mp4?s=e192e3a9d2ab7dd09513853d061b5d90"
background: ""
poster: "F02-01-Animations opérations"
chapters:
  la-mastectomie:
    offset: 0
    thumbnail: "F02-01-Animations opérations"
  reconstruction-prothèses:
    offset: 27
    thumbnail: "F02-01-Animations opérations"
  reconstruction-prothèses-symétrisation:
    offset: 33
    thumbnail: "F02-01-Animations opérations"
  reconstruction-grand-dorsal:
    offset: 33
    thumbnail: "F02-01-Animations opérations"
  reconstruction-diep:
    offset: 33
    thumbnail: "F02-01-Animations opérations"
  reconstruction-lipomodelage:
    offset: 33
    thumbnail: "F02-01-Animations opérations"
  reconstruction-aréole-memelon:
    offset: 33
    thumbnail: "F02-01-Animations opérations"
---

= partial "layouts/video/chapters"
