---
layout: nav
src: "http://player.vimeo.com/external/110339082.hd.mp4?s=e192e3a9d2ab7dd09513853d061b5d90"
background: "F-02-01-background.jpg"
poster: "01-miscellaneesAnimations_thumb"
chapters:
  la-mastectomie:
    offset: 0
    thumbnail: "01-miscellaneesAnimations_thumb"
  reconstruction-prothèses:
    offset: 27
    thumbnail: "01-miscellaneesAnimations_thumb"
  reconstruction-prothèses-symétrisation:
    offset: 33
    thumbnail: "01-miscellaneesAnimations_thumb"
  reconstruction-grand-dorsal:
    offset: 33
    thumbnail: "01-miscellaneesAnimations_thumb"
  reconstruction-diep:
    offset: 33
    thumbnail: "01-miscellaneesAnimations_thumb"
  reconstruction-lipomodelage:
    offset: 33
    thumbnail: "01-miscellaneesAnimations_thumb"
  reconstruction-aréole-memelon:
    offset: 33
    thumbnail: "01-miscellaneesAnimations_thumb"
---

= partial "layouts/video/chapters"
