---
layout: nav
name: misc
poster: "F-02-background-misc.jpg"
items:
  animations:
    thumbnail: "01-miscellaneesAnimations_thumb.jpg"
  livre-marseille:
    thumbnail: "02-miscellaneesLivreMarseille_thumb.jpg"
  se-voir-se-montrer:
    thumbnail: "03-miscellaneesVoirMontrer_thumb.jpg"
---

= partial "layouts/navigation/table"

- content_for :javascripts do
  :coffeescript
    $.BV.init()
    initVideoImageLoader($.BV.getPlayer())
    $(document).ready ->
      $.BV.show [{ type: "video/mp4", src: "http://player.vimeo.com/external/110645482.hd.mp4?s=86106d862edb1e25c3292d22938aada1"}], ambient: true

