---
layout: nav
name: misc
poster: "03-03-background-reconstruction-sec.jpg"
items:
  animations:
    thumbnail: "http://placehold.it/320x180"
  livre-marseille:
    thumbnail: "http://placehold.it/320x180"
  se-voir-se-montrer:
    thumbnail: "http://placehold.it/320x180"
---

= partial "layouts/navigation/table"

- content_for :javascripts do
  :coffeescript
    $.BV.init()
    initVideoImageLoader($.BV.getPlayer())
    $(document).ready ->
      $.BV.show [{ type: "video/mp4", src: "http://player.vimeo.com/external/110645482.hd.mp4?s=86106d862edb1e25c3292d22938aada1" }], ambient: true

