---
layout: nav
videos:
  first-video:
    src: "http://video-js.zencoder.com/oceans-clip.mp4"
    thumbnail: "https://g.twimg.com/Twitter_logo_blue.png"
  second-video:
    src: "http://dfcb.github.io/BigVideo.js/vids/dock.mp4"
    thumbnail: "http://upload.wikimedia.org/wikipedia/fr/archive/3/35/20090104094930!Starbucks_Coffee_Logo.svg"
---

= partial "layouts/video/playlist"


