---
layout: nav
background: ""
poster: "05-05-01-marseille.jpg"
videos:
  livre-novateur:
    src: ""
    thumbnail: "05-05-01-marseille.jpg"
    poster: "05-05-01-marseille.jpg"
---

= partial "layouts/video/playlist"
