---
layout: nav
background: "F-02-03-background.jpg"
poster: "F-02-03-images-fond-blanc.jpg"
videos:
  voir-montrer:
    src: "http://player.vimeo.com/external/110339083.hd.mp4?s=66261529a57ce32d5b1efb41a699895a"
    thumbnail: "F-02-03-images-fond-blanc.jpg"
    poster: "F-02-03-images-fond-blanc.jpg"
---

= partial "layouts/video/playlist"
