---
layout: nav
background: ""
videos:
  livre-novateur:
    src: "http://player.vimeo.com/external/110339083.hd.mp4?s=66261529a57ce32d5b1efb41a699895a"
    thumbnail: ""
    poster: ""
---

= partial "layouts/video/playlist"
