- unless current_page.data.background.blank? and current_page.data.poster.blank?
  .image-wrapper
    - if current_page.data.background
      %img.background-image{src: current_page.data.background}
    - else
      %img.loader-image{src: current_page.data.poster}