- unless current_page.data.background.blank? and current_page.data.poster.blank?
  .image-wrapper
    = image_tag File.join("posters", (current_page.data.background or current_page.data.poster)), class: "loader-image"
