#player-wrapper
  - unless current_page.data.poster.blank?
    .image-wrapper.over-video-player
      %img.loader-image{src: current_page.data.poster}
  = partial "layouts/video/player", locals: { default_src: current_page.data.video_src }

  .video-description= I18n.t("chapters." + current_page.data.chapters.keys.first)

  .video-nav-wrapper
    - current_page.data.chapters.each_with_index do |(key, chapter), index|
      .video-nav{"data-video-offset" => chapter["offset"], "data-video-description" => I18n.t("chapters." + key), class: "#{'selected' if index == 0}"}
        = image_tag "posters/" + chapter["thumbnail"], width: "100px"

- content_for :javascripts do
  :coffeescript
    $(document).ready ->
      selectThumbnail = (index) ->
        element = $('.video-nav').eq(index)
        $('.video-nav.selected').removeClass('selected')
        element.addClass('selected')
        $('#video-player').data("current-video", index)
        $('.video-description').text(element.data('video-description'))
      findCurrentThumbnail = (time) ->
        offsets = ($('.video-nav').map ->
          return $(this).data("video-offset")
        ).get()
        closest = (offsets.filter (i)->
          return i <= time
        ).pop()
        return offsets.indexOf(closest)
      $('.video-nav').on 'click', 'img', ->
        element = $(this).closest('.video-nav')
        offset = element.data('video-offset')
        videojs("video-player").ready ->
          myPlayer = this
          myPlayer.currentTime(offset)
          selectThumbnail($('.video-nav').index(element))
      videojs("video-player").ready ->
        myPlayer = this
        this.on 'timeupdate', ->
          if myPlayer.currentTime() > $('.video-nav').eq($("#video-player").data('current-video')+1).data('video-offset')
            selectThumbnail(findCurrentThumbnail(myPlayer.currentTime()))
        this.on 'seeked', ->
          selectThumbnail(findCurrentThumbnail(myPlayer.currentTime()))
        this.on 'ended', ->
          $(".pause").click()
