.video-wrapper
  %video#video-player.video-js.vjs-curie-skin{:'data-setup' => '{ "controls": false}', :height => "auto", :poster => image_path("posters/#{current_page.data.poster}"), :"max-width" => "100%", "data-current-video" => 0}
    %source{:src => default_src, :type => "video/mp4"}
  - unless (current_page.data.chapters and current_page.data.chapters.length == 1) or (current_page.data.videos and current_page.data.videos.length == 1)
    .prev.control
  .pause.control
  - unless (current_page.data.chapters and current_page.data.chapters.length == 1) or (current_page.data.videos and current_page.data.videos.length == 1)
    .next.control

- content_for :javascripts do
  :coffeescript
    aspectRatio = 720/1280
    resizeVideoJS = ->
      player = $("#video-player")
      width = player.parent().width()
      $("#video-player").width(width).height(width * aspectRatio)
    $(document).ready ->
      $(window).resize ->
        resizeVideoJS()
      videojs("video-player").ready ->
        this.on 'loadeddata', ->
          this.play()
        this.on 'play', ->
          $('.play').removeClass('play').addClass('pause')
        this.on 'pause', ->
          $('.pause').removeClass('pause').addClass('play')
        this.on 'useractive', ->
          $('.control, .vjs-control-bar').removeClass('inactive')
        this.on 'userinactive', ->
          $('.control, .vjs-control-bar').addClass('inactive')
      videojs("video-player").load()
      resizeVideoJS()
      $('.play, .pause, .vjs-tech').click ->
        element = $(this)
        videojs("video-player").ready ->
          if this.paused()
            this.play()
          else
            this.pause()
      $('.next').click ->
        videojs("video-player").ready ->
          current_video = $('#video-player').data('current-video')
          if current_video < $('.video-nav').length - 1
            $('#video-player').data('current-video',current_video + 1)
            $('.video-nav').eq(current_video+1).find('img').click()
      $('.prev').click ->
        videojs("video-player").ready ->
          current_video = $('#video-player').data('current-video')
          if current_video > 0
            $('#video-player').data('current-video',current_video - 1)
            $('.video-nav').eq(current_video-1).find('img').click()
