---
layout: nav
title: "L'imagerie - Les mots de Laurence"
description: ""
background: "02-backgroundimage-mastec.jpg"
poster: "02-02-02-videoseule-diagnmastecradio.jpg"
videos:
  mots-laurence:
    src: "http://player.vimeo.com/external/109822171.hd.mp4?s=44ab5d25d6b3794da2f9421453d94beb"
    thumbnail: "02-02-02-videoseule-itwfemmemastecradio.jpg"
    poster: "02-02-02-videoseule-itwfemmemastecradio.jpg"
---

= partial "layouts/video/playlist"
