---
layout: nav
title: "L'imagerie - Sentence de la biopsie"
description: ""
background: "02-backgroundimage-mastec.jpg"
poster: "02-02-01-videoseule-diagnmastecradio.jpg"
name: intro-imagery
picto: mastectomy
color: blue
videos:
  sentence-images-biopsie:
    src: "http://player.vimeo.com/external/109822169.hd.mp4?s=b9c71cc1837fc6bf1f29258842d716c5"
    thumbnail: "02-02-01-videoseule-diagnmastecradio.jpg"
    poster: "02-02-01-videoseule-diagnmastecradio.jpg"
---

= partial "layouts/video/playlist"
= partial 'layouts/modals/intro'

- content_for :javascripts do
  :coffeescript
    $(document).ready ->
      $("#modal-intro").modal "show"