---
layout: nav
name: intro-grand-dorsal
color: pink
picto: surgical
background: "03-03-background-reconstruction-sec.jpg"
videos:
  elisabeth-dernière-consultation:
    src: "http://player.vimeo.com/external/109834971.hd.mp4?s=c29487ec31940237f476b2c1e9698e56"
    thumbnail: "03-03-03-01-01-videoseule-gdconsultelisabeth.jpg"
    poster: "03-03-03-01-01-videoseule-gdconsultelisabeth.jpg"
  danielle-grand-dorsal:
    src: "http://player.vimeo.com/external/109834968.hd.mp4?s=43b66cb404fddf244c9b9ff5c6cd00c8"
    thumbnail: "03-03-03-01-02-videoseule-gdconsultdanielle.jpg"
    poster: "03-03-03-01-02-videoseule-gdconsultdanielle.jpg"
  mots-femmes-1:
    src: "http://player.vimeo.com/external/109834969.hd.mp4?s=39ef6374f2584458a5c7ce2eca6033df"
    thumbnail: "03-03-03-01-03-videochapitree-gditwpatientes.jpg"
    poster: "03-03-03-01-03-videochapitree-gditwpatientes.jpg"
  paroles-soignants-2:
    src: "http://player.vimeo.com/external/109834970.hd.mp4?s=5584bcdb8a19fe36d62a4fcfc43f3f9f"
    thumbnail: "03-03-03-01-04-videoseule-gditwsoignants.jpg"
    poster: "03-03-03-01-04-videoseule-gditwsoignants.jpg"
---

= partial "layouts/video/playlist"
= partial 'layouts/modals/intro'

- content_for :javascripts do
  :coffeescript
    $(document).ready ->
      $("#modal-intro").modal "show"