---
layout: nav
background: "03-03-background-reconstruction-sec.jpg"
videos:
  lipomodelage-animation:
    src: "http://player.vimeo.com/external/109836792.hd.mp4?s=c7d9b2c9b6e353619e88b2b4e9b7b536"
    thumbnail: "03-03-03-03-01-videoanimation-lipomodelage.jpg"
    poster: "03-03-03-03-01-videoanimation-lipomodelage.jpg"
  marie-dernière-étape:
    src: "http://player.vimeo.com/external/109836791.hd.mp4?s=083d1328b3c7e4f9a7c33300970f29e7"
    thumbnail: "03-03-03-03-02-videoseule-consultlipo.jpg"
    poster: "03-03-03-03-02-videoseule-consultlipo.jpg"
  paroles-soignants-4:
    src: "http://player.vimeo.com/external/109836793.hd.mp4?s=27925a2072bb3f7a356dfa28cf803708"
    thumbnail: "03-03-03-03-04-videoseule-itwsoignantslipo.jpg"
    poster: "03-03-03-03-04-videoseule-itwsoignantslipo.jpg"
---



= partial "layouts/video/playlist"
