---
layout: nav
title: "La reconstruction chirurgicale"
description: ""
name: surgical
poster: "03-background-reconstruction.jpg"
color: pink
items:
  immédiate:
    angle-triangle: 180
    angle-item: 180
    sub_items:
      - sylvie-intro
      - mots-femmes
      - paroles-soignants
  secondaire:
    angle-triangle: 20
    angle-item: 30
  finitions:
    angle-triangle: 330
    angle-item: 330
    sub_items:
      - christine-consultation-finition
      - mots-femmes
---

= partial 'layouts/navigation/branch'
= partial 'layouts/modals/intro'

- content_for :javascripts do
  :coffeescript
    $.BV.init()
    initVideoImageLoader($.BV.getPlayer())
    $(document).ready ->
      if document.referrer.match("\/intro(\/)*$")
        $("#modal-intro").modal "show"
      $.BV.show [{ type: "video/mp4", src: "http://player.vimeo.com/external/110338954.hd.mp4?s=b1877aa77bf1de90459da96b84ee758b" }], ambient: true
