---
title: "La reconstruction immédiate - Introduction"
description: ""
poster: 03-01-videoseule-introreconstchir.jpg
video_src: http://player.vimeo.com/external/109825282.hd.mp4?s=17cb989bc72c9e3b33766248336ca948
layout: fullscreen
---

= partial 'layouts/video/intro'
