.col-md-10.col-md-offset-1
  .row
    - current_page.data.items.each do |key, item|
      .col-md-4
        .misc-title
          %h2= I18n.t(["nav", current_page.data.name, key].join('.'))
        .misc-image
          = link_to File.join(current_page.url, key.slugify) do
            = image_tag ("thumbnails/"+item["thumbnail"]), class: "img-responsive"
