---
title: Curie Webdoc - Guérir le regard
---

%h1 Curie Webdoc
%form{action: "/search"}
  %input#tipue_search_input{name: 'q', autocomplete: "off", required: true}
  %button{class: 'btn btn-primary btn-lg'}
    = image_tag('search.png', alt: "search")
#tipue_drop_content


- content_for :javascripts do
  :javascript
    $(document).ready(function() {
      $('#tipue_search_input').tipuedrop();
    });
