---
title: Curie Webdoc - Guérir le regard
---

.wrapper
  = partial "layouts/circular_navigation"

- content_for :javascripts do
  :javascript
    $(document).ready(function() {
      $('#tipue_search_input').tipuedrop();
      $(function() {
        var BV = new $.BigVideo({useFlashForFirefox:false});
        BV.init();
        BV.show([
          { type: "video/mp4",  src: "http://video-js.zencoder.com/oceans-clip.mp4"  },
          { type: "video/webm", src: "http://video-js.zencoder.com/oceans-clip.webm" },
          { type: "video/ogg",  src: "http://video-js.zencoder.com/oceans-clip.ogv"  }
        ], {ambient:true, loop:true});
      });
    });
