---
title: Curie Webdoc - Guérir le regard
---

%h1 Curie Webdoc
%form{action: "/search"}
  %input#tipue_search_input{name: 'q', autocomplete: "off", required: true}
  %button{class: 'btn btn-primary btn-lg'}
    = image_tag('search.png', alt: "search")
#tipue_drop_content

#container
  %video#example_video_1.video-js.vjs-default-skin{width: "640", height: "264", poster: "http://video-js.zencoder.com/oceans-clip.png", :'data-setup' => '{"controls":true, "preload":"auto", "autoplay": true, "loop":true, "language":"fr"}' }
    %source{src: "http://video-js.zencoder.com/oceans-clip.mp4", type: 'video/mp4'}
    %source{src: "http://video-js.zencoder.com/oceans-clip.webm", type: 'video/webm'}
    %source{src: "http://video-js.zencoder.com/oceans-clip.ogv", type: 'video/ogg'}
    %p.vjs-no-js
      = "To view this video please enable JavaScript, and consider upgrading to a web browser that "
      %a{href: "http://videojs.com/html5-video-support/", target: "_blank"}= "supports HTML5 video"

- content_for :javascripts do
  :javascript
    $(document).ready(function() {
      $('#tipue_search_input').tipuedrop();
    });
