---
layout: nav
title: "Les reconstructions autologues - Le TRAM d’Esméralda... 4 ans après"
description: ""
background: "03-03-background-reconstruction-sec.jpg"
poster: "03-03-03-02-03-videoseule-tramesmeralda.jpg"
videos:
  tram-esmeralda:
    src: "http://player.vimeo.com/external/109835177.hd.mp4?s=53a488a0a6fcf3b6c5fd655ec3a87568"
    thumbnail: "03-03-03-02-03-videoseule-tramesmeralda.jpg"
    poster: "03-03-03-02-03-videoseule-tramesmeralda.jpg"
---

= partial "layouts/video/playlist"
