---
title: "Les reconstructions autologues - Le parcours de Geneviève introduction"
description: ""
poster: "03-03-03-02-01-01-videoseule-introgene.jpg"
video_src: "http://player.vimeo.com/external/109913563.hd.mp4?s=4d2e08370085ce48604ba77fd1b879b2"
layout: fullscreen
redirect_to: genevieve
---

= partial 'layouts/video/intro'
