---
layout: nav
name: diep
poster: "03-03-background-reconstruction-sec.jpg"
titles:
  - geneviève
  - nathalie
  - esmeralda
  - paroles-soignants
  - ester
---

.col-md-10.col-md-offset-1
  .row
    - current_page.data.titles.each do |title|
      .col-md-4
        .misc-title
          %h2= I18n.t("nav.diep." + title)
        .misc-image
          = link_to File.join(current_page.url, title.slugify) do
            %img.img-responsive{src: lorem.image('320x180')}

- content_for :javascripts do
  :coffeescript
    $.BV.init()
    initVideoImageLoader($.BV.getPlayer())
    $(document).ready ->
      $.BV.show [{ type: "video/mp4", src: "http://player.vimeo.com/external/110338853.hd.mp4?s=4598cc7b31d8585ac240d92aa9cfba2e" }], ambient: true
