---
layout: nav
name: diep
poster: "03-03-background-reconstruction-sec.jpg"
items:
  geneviève:
    thumbnail: "http://placehold.it/320x180"
  nathalie:
    thumbnail: "http://placehold.it/320x180"
  esmeralda:
    thumbnail: "http://placehold.it/320x180"
  paroles-soignants:
    thumbnail: "http://placehold.it/320x180"
  ester:
    thumbnail: "http://placehold.it/320x180"
parent_page: "/pages/avec-chirurgie/secondaire/"
---

= partial "layouts/navigation/table"

- content_for :javascripts do
  :coffeescript
    $.BV.init()
    initVideoImageLoader($.BV.getPlayer())
    $(document).ready ->
      $.BV.show [{ type: "video/mp4", src: "http://player.vimeo.com/external/110338853.hd.mp4?s=4598cc7b31d8585ac240d92aa9cfba2e" }], ambient: true
