---
layout: nav
name: diep
color: pink
picto: surgical
poster: "03-03-background-reconstruction-sec.jpg"
items:
  geneviève:
    thumbnail: "01-diep.jpg"
  nathalie:
    thumbnail: "02-diep.jpg"
  esmeralda:
    thumbnail: "03-diep.jpg"
  paroles-soignants:
    thumbnail: "04-diep.jpg"
  ester:
    thumbnail: "05-diep.jpg"
parent_page: "/pages/avec-chirurgie/secondaire/"
---

= partial "layouts/navigation/table"
= partial 'layouts/modals/intro'

- content_for :javascripts do
  :coffeescript
    $.BV.init()
    initVideoImageLoader($.BV.getPlayer())
    $(document).ready ->
      $("#modal-intro").modal "show"
      $.BV.show [{ type: "video/mp4", src: "http://player.vimeo.com/external/110338853.hd.mp4?s=4598cc7b31d8585ac240d92aa9cfba2e" }], ambient: true
