---
layout: nav
background: "03-03-background-reconstruction-sec.jpg"
poster: "03-03-03-02-02-videoseule-itwpatientediep.jpg"
videos:
  mots-nathalie:
    src: "http://player.vimeo.com/external/109835176.hd.mp4?s=a2dc02352648cbf14fd695d806881bc2"
    thumbnail: "03-03-03-02-02-videoseule-itwpatientediep.jpg"
    poster: "03-03-03-02-02-videoseule-itwpatientediep.jpg"
---

= partial "layouts/video/playlist"
