---
layout: nav
background: "03-03-background-reconstruction-sec.jpg"
videos:
  paroles-soignants-3:
    src: "http://player.vimeo.com/external/109835179.hd.mp4?s=2f3a0108dea83c6ac0f7557e5fc3fd6b"
    thumbnail: "03-03-03-02-04-videoseule-itwsoignantsdiep.jpg"
    poster: "03-03-03-02-04-videoseule-itwsoignantsdiep.jpg"
---

= partial "layouts/video/playlist"
