---
layout: nav
title: "Interrogations - Une ligne de lingerie dédiée..."
description: ""
background: "05-background-interrogations.jpg"
poster: "05-05-02-videoseule-garance.jpg"
videos:
  ligne-lingerie-dédiée:
    src: "http://player.vimeo.com/external/109839285.hd.mp4?s=5f42fecb63e53673f4405f8d17950b3d"
    thumbnail: "05-05-02-videoseule-garance.jpg"
    poster: "05-05-02-videoseule-garance.jpg"
---

= partial "layouts/video/playlist"
