---
layout: nav
title: "Interrogations - Un livre peu conventionnel"
description: ""
name: intro-service
color: orange
picto: interrogations
background: "05-background-interrogations.jpg"
poster: "F-02-02-images-livre-marseille.jpg"
videos:
  livre-peu-conventionnel:
    src: "http://player.vimeo.com/external/109839286.hd.mp4?s=ab6ce03feeaf78467cf3ee3710adf94d"
    thumbnail: "F-02-02-images-livre-marseille.jpg"
    poster: "F-02-02-images-livre-marseille.jpg"
---

= partial "layouts/video/playlist"
= partial 'layouts/modals/intro'

- content_for :javascripts do
  :coffeescript
    $(document).ready ->
      $("#modal-intro").modal "show"
