---
layout: nav
background: "05-videobackground-interrogations.jpg"
poster: "05-05-01-marseille.jpg"
videos:
  livre-peu-conventionnel:
    src: "http://player.vimeo.com/external/109839286.hd.mp4?s=ab6ce03feeaf78467cf3ee3710adf94d"
    thumbnail: "05-05-01-marseille.jpg"
    poster: "05-05-01-marseille.jpg"
---

= partial "layouts/video/playlist"
